 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Je m'appelle Hannah Sellam et je suis étudiante à l'EEMI (Ecole Européenne des Métiers de l'Internet). Cette école a été fondée par Xavier Niel (Free), Jacques-Antoine Granjon (Vente-privée) et Marc Simoncini (Meetic).</p>
                <p> Lors de ma première année, j'ai suivi un tronc commun autour de 3 métiers du web: Web Dévelopement, Web Desgin et Web Marketing. J'ai donc acquis des connaissances en HTML/CSS, PHP/MySQL, Sécurité et Réseaux. </p>
                 <p> Ayant un attrait particulier pour le Web Design et le Web Marketing, j'ai décidé de me spécialiser dans ces deux domaines étroitement liés.</p>
               
                </div>
                <div class="col-lg-4">
                    <p> J'effectue mes conceptions graphiques sur Adobe Photoshop, Adobe Illustrator, Adobe XD, Sktech. J'utilise After Effects pour le Motion Design. </p>
                 <p> Concernant le Web Marketing, j'utilise des outils comme Business Manager pour l'optimisation de vos campagnes Facebook, ainsi que Google Analytics, Google Ads. En vue d'un meilleur référencement naturel, je suis apte à vous fournir du contenu rédactionnel de qualité. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                   <p> Expériences professionnelles: </p>
                 <p> J'ai effectué un stage chez Christian Dior au cours duquel j'ai appris la vente, le e-commerce, le e-merchandising, la gestion de stock et le packaging. </p>
                 <p> De plus, toujours dans la mode, j'ai rejoint l'équipe de The Kooples dans le cadre d'un stage de 2 mois. En tant que Online Acquisition Assistant j'avais pour mission: </p>
                 <ul>
                  <li> Suivi des relations et coordination des partenaires externes </li>
                  <li> Programmation des campagnes Facebook </p>
                  <li> Gestion du plan média et optimisation des campagnes </p>
                  <li> Elaboration et suivi du planning eMarketing </li> 
                </div>
            </div>
        </div>
    </section>
